﻿@model IEnumerable<WebTicketsSale.Models.MyClasses.MyEvent>
@inject IViewLocalizer Localizer
@{   
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="menu_events">
    @if (Model.Count() == 0)
    {
        <h1>@Localizer["TheListisempty"]</h1>
    }
    @{ 
        string temp_d = "";
        string temp_m = "";
    }
    @foreach (var myEvent in Model)
    {
        temp_d = myEvent.Date.Day < 10 ? "0" : "";
        temp_m = myEvent.Date.Month < 10 ? "0" : "";
        <div class="wrap-events-info">
            <a href="~/Home/Tickets/@myEvent.MyEventId">
                <div class="wrap_events" data-content=@myEvent.MyEventId>
                    <div class="events" id="image_ev"><img src=@myEvent.Banner width="50" height="50" alt="img"></div>
                    <div class="events"><div class="inner"> @myEvent.Name</div></div>
                    <div id="date" class="events"><div>@temp_d@myEvent.Date.Day.</div><div>@temp_m@myEvent.Date.Month.</div><div>@myEvent.Date.Year</div></div>
                    <div class="events"><div class="inner">@myEvent.Venue.City.Name</div></div>
                    <div class="events"><div class="inner">@myEvent.Venue.Name</div></div>
                    <div class="events"><div class="inner">@myEvent.Venue.Addres</div></div>
                </div>
            </a>
            <div class="wrap-events-info-button">
                <button class="button-info" data-content=@myEvent.MyEventId>Info</button>
            </div>
        </div>
    }
</div>
<div id ="popup"></div>
<div id="hover"></div>

<script src="~/js/InfoTicketsMouseClick.js"></script>
