@*@model IEnumerable<WebTicketsSale.Models.MyClasses.Ticket>*@
@model IEnumerable<string>
@inject IViewLocalizer Localizer
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
    <div class="menu">
        
        @foreach (var myEvent in Model)
        {
            <a id="ref-event" class="ref" href="~/Home/Concert/@myEvent"><div class="events_name">@Localizer[@myEvent]</div></a>
            /*<div class="events_name">@ticket.MyEvent.GetEventTypeString()</div>*/
        }
    </div>
    


