﻿@model IEnumerable<WebTicketsSale.Models.MyClasses.Ticket>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Tickets"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="menu_events">
    <div class="wrap_events_header">
        <div class="name-col">@Localizer["Price"]</div>
        <div class="name-col">@Localizer["FirstName"]</div>
        <div class="name-col">@Localizer["LastName"]</div>
        <div class="name-col">@Localizer["PhoneNumber"]</div>
        @*<div class="name-col">@Localizer["Description"]</div>*@
    </div>
    @foreach (var ticket in Model)
    {

        <div class="wrap_events" data-content=@ticket.MyEventId>
            <div class="events">@ticket.Price</div>
            <div class="events">@Localizer[ticket.Seller.FirstName]</div>
            <div class="events">@Localizer[ticket.Seller.LastName]</div>
            <div class="events">@ticket.Seller.PhoneNumber</div>
            @*<div class="events">@Localizer[ticket.MyEvent.Description]</div>*@

        </div>

    }
</div>
