﻿
@inject IViewLocalizer Localizer
 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/ScriptCarousel.js"></script>
    <script src="~/js/ScriptMouseOn.js"></script>   
        @if (ViewBag.Title == null)
        {
            <title>@Localizer["Title"]</title>

        }
        else
        {
            <title>@ViewBag.Title</title>
        }
            
</head>
<body>
    <div class="top_div">
        <div class="cont_top">
            <ul class="left_menu">
                <li><a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a></li>
                @await Html.PartialAsync("_LoginPartialLeft")
                @await Html.PartialAsync("_LoginAdmin")
            </ul>
            <div class="lang">
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
    <div class="wrapper">        
        <div class="header">
            <div class="wrap_butt_l">
                <div class="carousel-button-left"><a href="#"></a></div>
            </div>
            <div class="carousel">
                <div class="carousel_content">
                    <div id="concert" class="item">
                        <p class="text"></p>
                    </div>
                    <div id="ighib" class="item">
                        <p class="text"></p>
                    </div>
                    <div id="mathes" class="item">
                        <p class="text"></p>
                    </div>
                    <div id="spectacles" class="item">
                        <p class="text"></p>
                    </div>
                </div>
            </div>
            <div class="wrap_butt_r">
                <div class="carousel-button-right"><a href="#"></a></div>
            </div>
        </div>
        <hr />        
        <div id="matter">            
            @Localizer["Tickets"]... @Localizer["Sale"] @Localizer["and"] @Localizer["Purchase"]...            
        </div>
        <hr />

        <!--основной контент-->
        <div id="main_content">
            
            @RenderBody()
        </div>        
        <footer class="foot">            
            <p>© 2017 - YuGTicketsSale</p>
        </footer> 
        
    </div>     
</body>
</html>
