﻿
@inject IViewLocalizer Localizer
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    string Id = "";
    Id = UserManager.GetUserId(User);

    <li><a asp-controller="Manage" asp-action="MyTickets" asp-route-id=@Id>@Localizer["MyTickets"]</a></li>    
    <li><a asp-controller="Manage" asp-action="MyOrders" asp-route-id=@Id>@Localizer["MyOrders"]</a></li>
}
else
{
    <li class="not-login">@Localizer["MyTickets"]</li>
    <li class="not-login">@Localizer["MyOrders"]</li>
}

