﻿@using Microsoft.AspNetCore.Identity
@using WebTicketsSale.Models.MyClasses

@inject IViewLocalizer Localizer
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User) && CollectionUsers.Count != 0)
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="right_menu">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@Localizer["Hello"] @Localizer["mr"] @UserManager.GetUserName(User)!</a>
            </li>           
           <li>
                <button type="submit" class="btn">@Localizer["Logout"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="right_menu">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a></li>
    </ul>
}

