﻿@inject IViewLocalizer Localizer
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{    
    <li><a asp-controller="Manage" asp-action="ListUsers">@Localizer["Listofregusers"]</a></li>
}
else
{
    
}