body {
  height: 100%;
  background: url(../images/u5.jpg) no-repeat;
  background-color: #000113;
  background-size: cover;
  padding: 0;
  margin: 0;
}
/*---------------------DIV HEADER START-------------------*/
.top_div {
  width: inherit;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}
.cont_top {
  /*   contentainer  menu                 */
  display: flex;
  justify-content: space-between;
  width: 1050px;
  height: 100%;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
ul {
  /*           menu left and right         */
  list-style: none;
  color: #D5D5D5;
  margin: 0;
  padding: 0;
  line-height: 50px;
}
.left_menu {
  float: left;
  margin-left: 8px;
}
.right_menu {
  float: right;
}
.btn {
  /*-----button log out-----------*/
  color: #D5D5D5;
  border: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  font-size: 16px;
}
.btn:hover {
  color: white;
}
ul li {
  display: inline;
  margin: 0 15px 0 0;
}
.lang {
  /*              languages panel        */
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
.lang-name {
  color: #D5D5D5;
  margin: 0;
  padding: 0;
  text-align: center;
}
.select-lang {
  padding: 3px;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background: #f8f8f8;
  color: #888;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
/*------------------------Header END-----------------------------*/
/*------------------------Middle-------------------------*/
.wrapper {
  /*      Container middle  */
  width: 1050px;
  height: 100vh;
  /*height: 100%;*/
  margin: 0 auto;
  background-color: rgba(45, 48, 255, 0.4);
}
.header {
  /*     container of Carousel START   */
  width: 100%;
  position: relative;
  text-align: justify;
  z-index: 10;
}
.carousel {
  margin: 0 auto;
}
.carousel .carousel_content {
  margin: 0;
  padding: 0;
}
.carousel .carousel_content .item {
  display: block;
  padding: 10px;
  float: left;
  width: 1010px;
  font: 20px Calibry italic;
  height: 350px;
  border: 2px solid #FFF832;
  border-radius: 30px;
  margin-left: 5px;
}
.wrap_butt_l,
.wrap_butt_r {
  /* container buttons of Carousel     */
  position: absolute;
  top: 44%;
  z-index: 222;
}
.wrap_butt_l {
  left: 7px;
}
.wrap_butt_r {
  right: 7px;
}
.carousel-button-left,
.carousel-button-right {
  /*buttons carousel*/
  opacity: 0.6;
}
.carousel-button-left a,
.carousel-button-right a {
  width: 60px;
  height: 60px;
  top: 10px;
  cursor: pointer;
  text-decoration: none;
}
.carousel-button-left a {
  float: left;
  background: url(../images/Buttons/previous.png);
}
.carousel-button-right a {
  float: right;
  background: url(../images/Buttons/next.png);
}
#concert {
  /*             Carousel  image            */
  background: url(../images/Carousel/concert.jpg) center center;
  background-color: #777777;
}
#ighib {
  background: url(../images/Carousel/exhibition1.jpg) center center;
  background-color: #777777;
}
#mathes {
  background: url(../images/Carousel/hockey1.jpg) center center;
  background-color: #777777;
}
#spectacles {
  background: url(../images/Carousel/spect.jpg) center center;
  background-color: #777777;
}
/*----------------container of Carousel END---------------*/
/*--------------MENU MAIN---------------------------- */
.menu {
  width: 360px;
}
.events_name {
  width: 350px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #FFDD00;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
.events_name,
.ref {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
}
.menu_events {
  width: 1050px;
  margin: 2px auto;
  display: inline-block;
  color: white;
}
.wrap-events-info {
  display: flex;
  justify-content: space-around;
}
.wrap-events-info-button {
  display: flex;
  align-items: center;
}
.button-info {
  width: 80px;
  height: 40px;
  /*border: 1px solid yellow;*/
  border-radius: 10px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  background: rgba(255, 255, 255, 0.2);
}
.wrap_events {
  display: flex;
  flex-flow: row wrap;
  padding: 0 5px 0 5px;
  justify-content: space-between;
  border: 2px solid yellow;
  color: white;
  margin: 2px 2px 4px 2px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  height: 46px;
  cursor: pointer;
}
.wrap_events_header {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-bottom: solid;
  border-bottom-color: lawngreen;
  margin-bottom: 10px;
}
.header-cont-pages {
  margin: 15px auto;
  font-size: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
}
.name-col {
  /*     names columns of selling tickets                */
  width: 166.66666667px;
  text-align: center;
  padding-bottom: 10px;
}
.events {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 143.83561644px;
  margin-right: 3px;
  font-family: Arial;
  font-weight: normal;
  text-align: center;
}
#matter {
  /*-----------------Big TEXT------------*/
  font-size: 40pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  text-shadow: 3px 3px 15px #E7D544;
}
/*---------------------------------------------------*/
#main_content {
  position: relative;
}
.tab {
  /* ----------- TABs of MYtickets ------------- */
  /*position: absolute;*/
  /* Абсолютное позиционирование */
  visibility: hidden;
  /* Изначально - спрятан */
  /*z-index: 10;*/
  /* z-index */
  color: #478CFB;
  /* Цвет */
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*normal 12pt "Trebuchet MS", tahoma, verdana, arial narrow, arial;*/
  /* Толщина, размер и семейство шрифта */
  font-size: 15pt;
}
.tabs:target + .tab {
  opacity: 1;
  /* Убирает прозрачность */
  visibility: visible;
  /* Делает видимым */
}
.tabs-link a {
  background-color: #2246b7;
  /* Цвет */
  padding: 5px 5px 0 5px;
  /* Внутренние отступы */
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*normal 15pt "Trebuchet MS", tahoma, verdana, arial narrow, arial;*/
  /* Толщина, размер и семейство шрифта */
  color: yellow;
  /* Цвет */
  font-size: 20pt;
  text-decoration: none;
  /* Отсутствие нижней линии */
  /* Округление старт */
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* Округление конец */
}
.tabs-link a:visited {
  color: yellow;
}
.tabs-link a:hover {
  color: white;
}
.tabs-link {
  width: 954.54545455px;
  margin: 0 auto;
}
.wrap-tabs {
  border: 2px solid #2246b7;
}
.reg {
  /*    styles for forms  */
  background: rgba(255, 238, 105, 0.3);
  display: table;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}
.reg input[type=text],
.reg input[type=password] {
  box-sizing: border-box;
  font-family: Arial;
  font-size: 16px;
  padding: 10px;
  width: 350px;
}
a {
  text-decoration: none;
  color: #D5D5D5;
}
a:visited {
  color: #D5D5D5;
}
a:hover {
  color: white;
}
#image_ev img {
  display: block;
  margin: 0 auto;
}
.foot {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
button {
  background: #000000;
  color: #D5D5D5;
  cursor: pointer;
}
.top-reg {
  margin: 20px auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 40px;
  width: 525px;
  text-align: center;
}
.col-md-2 {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}
.create {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 25px;
  text-align: center;
}
.btn-reg {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 20px 0 0 0;
  width: 210px;
  padding: 10px;
  /* округления старт */
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  /* округления конец */
}
.passw {
  width: 525px;
  margin: 0 auto;
  text-align: center;
}
.not-login {
  color: #717171;
}
#date {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.my-tickets {
  border: 5px solid #2246b7;
  border-radius: 10px;
  width: 954.54545455px;
  margin: 0 auto;
  padding: 5px;
}
#popup {
  display: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  color: yellow;
  background-color: #2F2E68;
  border: 8px solid #0ea8f4;
  border-radius: 16px;
  position: absolute;
  z-index: 999;
  width: 500px;
  height: auto;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -200px;
}
#hover {
  display: none;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  z-index: 998;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
