﻿@width-full: 1050px;
@font-events-size:20px;
@font-family-reg: "Helvetica Neue", Helvetica, Arial, sans-serif;
@width-events-name: @width-full / 3;
@button-next-image: url(../images/Buttons/next.png);
@button-prev-image: url(../images/Buttons/previous.png);
@concert-image: url(../images/Carousel/concert.jpg);
@exhib_image: url(../images/Carousel/exhibition1.jpg);
@hockey_image: url(../images/Carousel/hockey1.jpg);
@spect_image: url(../images/Carousel/spect.jpg);
@border-radius:30px;
@backgrfon-image:url(../images/u5.jpg);
@color-font: white; 

body {
    height: 100%;
    background: @backgrfon-image no-repeat;
    background-color: rgba(0,1,19,1);  
    background-size:cover;
    padding: 0;
    margin: 0; 
}
            /*---------------------DIV HEADER START-------------------*/
.top_div {
    width: inherit;
    height: 50px;
    background-color: rgba(0,0,0,0.5);    
    margin: 0;   
}
.cont_top {            /*   contentainer  menu                 */
    display: flex;
    justify-content:space-between;
    width: @width-full;
    height: 100%;
    margin: 0 auto;
    font-family: @font-family-reg;
    font-size: 16px;
}
ul {                  /*           menu left and right         */
    list-style: none;
    color: #D5D5D5;
    margin: 0;
    padding: 0;
    line-height: 50px;
}

.left_menu {
    float: left;
    margin-left: 8px;
}

.right_menu {
    float: right;
}
.btn {              /*-----button log out-----------*/
    color: #D5D5D5;    
    border: 0;
    font-family: @font-family-reg;
    padding:0;
    font-size:16px;
}
.btn:hover{
    color:white;
}

ul li {
    display: inline;
    margin: 0 15px 0 0;
}

.lang{                    /*              languages panel        */
    display:inline-flex;
    justify-content:space-around;
    align-items:center;
}
.lang-name {
    color: #D5D5D5;
    margin: 0;
    padding: 0;
    text-align: center;
}
.select-lang {
    padding: 3px;
    margin: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color: #888;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;    
    cursor: pointer;
}
/*------------------------Header END-----------------------------*/
/*------------------------Middle-------------------------*/
.wrapper {        /*      Container middle  */
    width: @width-full;
    height: 100vh;
    /*height: 100%;*/
    margin: 0 auto;
    background-color: rgba(45,48,255,0.40);    
}

.header {           /*     container of Carousel START   */
    width: 100%;   
    position: relative;
    text-align: justify;
    z-index: 10;
}

.carousel {
    margin: 0 auto;
}

.carousel .carousel_content {
    margin: 0;
    padding: 0;
}

.carousel .carousel_content .item {
    display: block;
    padding: 10px;
    float: left;
    width: @width-full - 40;
    font: 20px Calibry italic;
    height: 350px;
    border: 2px solid #FFF832;
    border-radius: @border-radius;
    margin-left: 5px;
}

.wrap_butt_l, .wrap_butt_r {     /* container buttons of Carousel     */
    position: absolute;
    top: 44%;
    z-index: 222;
}

.wrap_butt_l {
    left: 7px;
}

.wrap_butt_r {
    right: 7px;
}

.carousel-button-left, .carousel-button-right {/*buttons carousel*/
    opacity: 0.6;
}

.carousel-button-left a, .carousel-button-right a {
    width: 60px;
    height: 60px;
    top: 10px;
    cursor: pointer;
    text-decoration: none;
}

.carousel-button-left a {
    float: left;
    background: @button-prev-image;
}

.carousel-button-right a {
    float: right;
    background: @button-next-image;
}
#concert {          /*             Carousel  image            */
    background: @concert-image center center;
    background-color: #777777;
}
#ighib {
    background: @exhib_image center center;
    background-color: #777777;
}

#mathes {
    background: @hockey_image center center;
    background-color: #777777;
}

#spectacles {
    background: @spect_image center center;
    background-color: #777777;
}

                /*----------------container of Carousel END---------------*/

                /*--------------MENU MAIN---------------------------- */
.menu {
    width: @width-events-name+10;
}
.events_name  {     
    width: @width-events-name;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #FFDD00;
    border-radius: @border-radius / 3;
    padding: 10px;
    margin: 5px;   
}
.events_name, .ref {
    color: @color-font;
    font-family: @font-family-reg;
    font-size: 20px;
    font-weight: normal;
}
.menu_events {
    width: @width-full;
    margin: 2px auto;
    display: inline-block;
    color: @color-font;
}
.wrap-events-info {
    
    display: flex;
    justify-content:space-around;
}
.wrap-events-info-button{
    display:flex;
    align-items:center;
}
.button-info {
    width: @font-events-size * 4;
    height: @font-events-size * 2;
    /*border: 1px solid yellow;*/
    border-radius: @border-radius / 3;
    color: @color-font;
    font-family: @font-family-reg;
    font-size: 18px;
    font-weight: normal;
    background: rgba(255, 255, 255, 0.2);
} 
.wrap_events {
    display: flex;
    flex-flow: row wrap;
    padding: 0 5px 0 5px;
    justify-content: space-between;
    border: 2px solid yellow;
    color: @color-font;
    margin: 2px 2px 4px 2px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: @border-radius / 3;
    height: @font-events-size * 2.3;
    cursor: pointer;
}
.wrap_events_header {
    font-size: @font-events-size;
    font-family: @font-family-reg;
    color: @color-font;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-bottom: solid;
    border-bottom-color: lawngreen;
    margin-bottom: 10px;
}
.header-cont-pages {
    margin: 15px auto;
    font-size: @font-events-size * 1.5;
    font-family: @font-family-reg;
    color: @color-font;
    text-align:center;
}
.name-col { /*     names columns of selling tickets                */
    width: @width-full/6.3;
    text-align: center;
    padding-bottom: 10px;
}
.events {
    display:flex;
    justify-content:center;
    align-items:center;
    width: @width-full /7.3;
    margin-right: 3px;
    font-family: Arial;    
    font-weight: normal;
    text-align: center;
}
#matter { /*-----------------Big TEXT------------*/
    font-size: 40pt;
    font-family: @font-family-reg;
    font-weight: normal;
    color: @color-font;
    text-align: center;
    margin: 0;
    padding: 0;
    text-shadow: 3px 3px 15px #E7D544;
}
/*---------------------------------------------------*/
#main_content {
    position: relative;
}
.tab {           /* ----------- TABs of MYtickets ------------- */
    /*position: absolute;*/ /* Абсолютное позиционирование */
    visibility: hidden; /* Изначально - спрятан */
    /*z-index: 10;*/ /* z-index */
    color: #478CFB; /* Цвет */
    font: @font-family-reg; /*normal 12pt "Trebuchet MS", tahoma, verdana, arial narrow, arial;*/ /* Толщина, размер и семейство шрифта */
    font-size:15pt;
}
.tabs:target + .tab {
    opacity: 1; /* Убирает прозрачность */
    visibility: visible; /* Делает видимым */
}
.tabs-link a {
    background-color: rgb(34,70,183); /* Цвет */
    padding: 5px 5px 0 5px; /* Внутренние отступы */
    font: @font-family-reg; /*normal 15pt "Trebuchet MS", tahoma, verdana, arial narrow, arial;*/ /* Толщина, размер и семейство шрифта */
    color: yellow; /* Цвет */
    font-size: 20pt;
    text-decoration: none; /* Отсутствие нижней линии */
    /* Округление старт */
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* Округление конец */
}
.tabs-link a:visited{
    color:yellow;
}
.tabs-link a:hover {
    color: white;
} 
.tabs-link {
    width: @width-full /1.1;
    margin: 0 auto;
}
.wrap-tabs {
    border: 2px solid rgb(34,70,183);
} 
.reg {/*    styles for forms  */
    background: rgba(255,238,105,0.3);
    display: table;
    margin: 0 auto;
    padding: 10px;
    border-radius: @border-radius / 3;
}
.reg input[type=text], .reg input[type=password]{
         box-sizing:border-box;
         font-family:Arial;
         font-size:16px;
         padding:10px;         
         width:@width-full / 3;
     }

a {
    text-decoration: none;
    color: #D5D5D5;
}
a:visited {
    color: #D5D5D5;
}

a:hover{
    color:white;
}
#image_ev img {
    display: block;
    margin: 0 auto;
}
.foot {
    color: @color-font;
    font-family: @font-family-reg;
    font-size: 10px;
    font-weight: normal;
    text-align: center;   
    position:fixed;
    bottom:0;
    left:0;
    right:0;
   
}
button {
    background: rgb(0,0,0);
    color: #D5D5D5;
    cursor:pointer;
}
.top-reg {
    margin: 20px auto;
    font-family: @font-family-reg;
    color: @color-font;
    font-size: 40px;
    width: @width-full / 2;
    text-align: center;
}
.col-md-2 {
    color: @color-font;
    font-family: @font-family-reg;
    font-size: 20px;
}
.create {
    font-family: @font-family-reg;
    color: @color-font;
    font-size: 25px;
    text-align: center;
}
.btn-reg {
    font-family: @font-family-reg;
    font-size: 20px;
    margin: 20px 0 0 0;
    width: @width-full / 5;
    padding:10px;
    /* округления старт */
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    /* округления конец */
}
.passw{
    width:@width-full / 2;
    margin:0 auto;
    text-align:center;
}
.not-login {
    color:#717171
}
#date{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.my-tickets {
    border: 5px solid rgb(34,70,183);
    border-radius:10px;
    width: @width-full /1.1;
    margin: 0 auto;
    padding:5px;
}
#popup {
    display: none;
    font-family: @font-family-reg;
    font-size: 20px;
    text-align:center;
    color:yellow;
    background-color: #2F2E68;
    border: 8px solid #0ea8f4;
    border-radius: 16px;
    position: absolute;
    z-index: 999;
    width: 500px;
    height: auto;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -200px;
}
#hover {
    display: none;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    z-index: 998;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}