﻿@model ChangePasswordViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["ChangePassword"];
}

<div class="top-reg">@ViewData["Title"].</div>

<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="reg">
    <div class="create">@Localizer["Usealocalaccounttologin"].</div>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="OldPassword" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn-reg">@Localizer["Change"]</button>
        </div>
    </div>
</form>
@{
}
