﻿@model IndexViewModel 
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] =Localizer["Manageyouraccount"];
}

<div class="top-reg">@ViewData["Title"]</div>
<div class="text-success">@ViewData["StatusMessage"]</div>
<div>
    <div class="create">@Localizer["Changeyouraccountsettings"]</div>
    <hr />
    <div class="passw">
        <div class="create">@Localizer["Password"]:</div>
        <div>
            @if (Model.HasPassword)
            {
                <button type="button" onclick="location.href='@Url.Action("ChangePassword", "Manage")'" class="btn-reg">@Localizer["Change"]</button>
            }            
        </div> 
    </div>
</div>
