﻿@model IEnumerable<User>
<div class="my-tickets">
    @foreach (var user in Model)
    {
        <div class="wrap_events">
            <div class="events">@user.FirstName</div>
            <div class="events">@user.LastName</div>
            <div class="events">@user.PhoneNumber</div>
            <div class="events">@user.UserRole.RoleName</div>
        </div>

    }
</div>