﻿@model IEnumerable<Order>


<div class="header-cont-pages">My Orders</div>
<div class="my-tickets"> 
    @foreach (var order in Model)
    {
        <div class="wrap_events">
            <div class="events">@order.Ticket.Price</div>
            <div class="events">@order.Ticket.MyEvent.Name</div>
            <div class="events">@order.Ticket.MyEvent.Venue.City.Name</div>
            <div class="events">@order.Status.ToString()</div>
            <div class="events">@order.Ticket.Seller.LastName</div>
            <div class="events">@order.Ticket.Seller.FirstName</div>

        </div>

    }
</div>
