﻿@inject  IViewLocalizer Localizer
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<div class="header-cont-pages">@Localizer["MyTickets"]</div>
@if (SignInManager.IsSignedIn(User))
{   
    
    <div class="tabs-link">
        <a class="selling" href="#tab1" data-content=@UserManager.GetUserId(User)>@Localizer["Selling"]</a>
        <a class="waiting" href="#tab2" data-content=@UserManager.GetUserId(User)>@Localizer["Waitingconfirmation"]</a>
        <a class="sold" href="#tab3" data-content=@UserManager.GetUserId(User)>@Localizer["Sold"]</a>
    </div>
    <div class="my-tickets"></div>
}
<script src="~/js/ScriptOnClick.js"></script>
